<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SaPousseOS_v0_2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SaPousseOS_v0._2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SaPousseOS_v0_2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SaPousseOS_v0._2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SaPousseOS_v0_2.Properties.Settings>
            <setting name="BackgroundColor" serializeAs="String">
                <value>46, 51, 73</value>
            </setting>
            <setting name="SubMenu" serializeAs="String">
                <value>24, 30, 54</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="LightBackground" serializeAs="String">
                <value>White</value>
            </setting>
        </SaPousseOS_v0_2.Properties.Settings>
        <SaPousseOS_v0._2.Properties.Settings>
            <setting name="BackgroundColor" serializeAs="String">
                <value>46, 51, 73</value>
            </setting>
            <setting name="SubMenu" serializeAs="String">
                <value>24, 30, 54</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="LightBackground" serializeAs="String">
                <value>White</value>
            </setting>
        </SaPousseOS_v0._2.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <SaPousseOS_v0_2.Properties.Settings>
            <setting name="DarkBackground" serializeAs="String">
                <value>46, 51, 73</value>
            </setting>
            <setting name="LightSubMenu" serializeAs="String">
                <value>200, 200, 200</value>
            </setting>
            <setting name="DarkSubMenu" serializeAs="String">
                <value>24, 30, 54</value>
            </setting>
            <setting name="LightFont" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="DarkFont" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SideMenuIndicatorPanelSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </SaPousseOS_v0_2.Properties.Settings>
        <SaPousseOS_v0._2.Properties.Settings>
            <setting name="DarkBackground" serializeAs="String">
                <value>46, 51, 73</value>
            </setting>
            <setting name="LightSubMenu" serializeAs="String">
                <value>200, 200, 200</value>
            </setting>
            <setting name="DarkSubMenu" serializeAs="String">
                <value>24, 30, 54</value>
            </setting>
            <setting name="LightFont" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="DarkFont" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SideMenuIndicatorPanelSize" serializeAs="String">
                <value>5</value>
            </setting>
        </SaPousseOS_v0._2.Properties.Settings>
    </applicationSettings>
</configuration>